body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.navbarSupportedContent{
    color: green;
}

.line{
    height: 8px;
    width: 45px;
    background-color: green;
    /* margin-right: 30px; */
    /* padding-right: 20px; */
}

.line2{
 width: 50px;
 height: 10px;
 background-color:yellow;
 margin-top: 30px;
}

.line3{
    width: 50px;
    height: 10px;
    background-color: yellow;
    margin-top: 20px;
    margin-left: 580px;
}

.line4{
    width: 50px;
        height: 10px;
        background-color: yellow;
        margin-top: 20px;
        margin-left: 520px;
}


#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.219),rgba(0, 0, 0, 0.267)),url(../assets/fe56cf1b-25c9-487a-9877-a224493329fd.JPG);
    background-position: center;
    background-size: cover;
    height: 300px;
}

.ls{
    font-weight: bolder;
}

.btn1{
    background-color: green;
    color:white;
    border: none;
    padding: 10px 20px;
    transition: all ease-in-out .5s;
}

.btn1:hover{
    background-color:yellow;
    color:black;
}

.btn2{
    background-color: green;
    color: white;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    transition: ease-in-out .10s;
    box-shadow: 2px greenyellow;
    margin-bottom: 30px;
}

.btn2:hover{
    background-color: yellow;
    color: black;
}

.btn3{
    background-color: green;
        color: white;
        padding: 10px 30px;
        border: none;
        font-weight: bold;
        transition: ease-in-out .10s;
        box-shadow: 2px greenyellow;
        width: 100%;
        transition: ease-in;
}

.btn3:hover{
background-color: yellow;
    color: black;
}

.Nil{
    background-color: yellow;
    border: none;
}

.huuh{
    background-color: aliceblue;
    border:  2px solid black;
    transition: all ease-in .2s;
}

.huuh:hover{
    background-color: green;
    color: blanchedalmond;
    border: none;
    padding: 10px 20px;
}

.cool{
    width: 20px;
    height: 4px;
    background-color: green;
    margin-left: 400px;
}

.clean{
    background-color: green;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
}

.clean2{
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
}

.below{
    /* width: 900px; */
    background-color: green;
    padding: 10px 20px;
    color: antiquewhite;
    border: none;
    transition: ease-in-out;
}



.below:hover{
    background-color: yellow;
    color: black;
}

#hero3{
    background: linear-gradient(rgba(0, 0, 0, 0.336),rgba(0, 0, 0, 0.329)),url(../assets/greenpeace-project-9.webp);
    background-position: center;
    background-size: cover;
}

.form-label{
    font-weight: 200;
    font-size: larger;
    /* border: 2px solid green; */
}

#exampleFormControlInput1{
 border: 2px solid green;
}

#exampleFormControlTextarea1{
border: 2px solid green;
}